export BW_SESSION=$(bw unlock --raw)
export NGROK_AUTH_TOKEN=368NEkZgDx4kB6e03cSJsX9mnou_4bbFam8Q9uMhnVN6uAd5S
#export NGROK_AUTH_TOKEN=$(bw get password ngrok-auth-token)
export GITHUB_APP_ID=$(bw get username Javagrunt-Automation-Github-App)
export WEBHOOK_SECRET=$(bw get username javagrunt-automation-github-secrets)
export PEM=$(bw get notes javagrunt-automation-github-app-pem)
